<!--Author : en_zhao-->
<!--Date   : 2018/4/22-->
<!--Content: navbar最新内容-->


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="col-lg-3 text-left col-sm-12 col-xs-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">welcome,赵震 <span class="btn-default this_zhuxiao">注销</span></a>
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-1 col-sm-12 col-xs-12">
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="btn btn-link" href="./index_index.html">首页信息</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle btn btn-link this_gerenxinxi" href="#" data-toggle="dropdown">
                            信息管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="border-radius: 5px">
                            <li class="text-center"><a href="./my_info.html" style="border-radius: 3px">信息查看</a></li>
                            <li class="text-center"><a href="./my_save_password.html">修改密码</a></li>
                            <li class="text-center"><a href="./my_save_password.html">用户列表</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle btn btn-link this_kaoshimokuai" href="#" data-toggle="dropdown">
                            考试管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><span class="this_erjicaidan">-习题练习</span></li>
                            <li class="text-center"><a href="#">添加习题</a></li>
                            <li class="text-center"><a href="#">习题列表</a></li>
                            <li class="text-center"><a href="#">练习反馈</a></li>
                            <li class="divider"></li>
                            <li><span class="this_erjicaidan">-考前测评</span></li>
                            <li class="text-center"><a href="#">添加测评</a></li>
                            <li class="text-center"><a href="#">测评查看</a></li>
                            <li class="text-center"><a href="#">测评反馈</a></li>
                            <li class="divider"></li>
                            <li><span class="this_erjicaidan">-正式考试</span></li>
                            <li class="text-center"><a href="#">添加考试</a></li>
                            <li class="text-center"><a href="#">考试查看</a></li>
                            <li class="text-center"><a href="#">考试反馈</a></li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle btn btn-link this_kaoshimokuai" href="#" data-toggle="dropdown">
                            资料管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="text-center"><a href="#">资料浏览</a></li>
                            <li class="text-center"><a href="#">资料上传</a></li>
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle btn btn-link this_kaoshimokuai" href="#" data-toggle="dropdown">
                            公告管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="text-center"><a href="#">公告管理</a></li>
                            <li class="text-center"><a href="#">公告编辑</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>