<!--Author : en_zhao-->
<!--Date   : 2018/5/4-->
<!--Content: -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWUSTCNES</title>
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--jquery 和 boostarp 引入-->
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../ref/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap-theme.css">
    <!--小图标文件引入-->
    <link rel="stylesheet" href="../ref/iconfont/iconfont.css">
    <style>
        /*
         *phone
         */
        @media (max-width:992px){
            .space_phone{
                margin: 10px;
            }
        }
        /*
         * pc
         */
        @media (min-width:992px){
            .space_pc{
                margin: 10px;
            }
        }
        .this_body_background-color{
            background-color:#f6f6f6;
        }
        .this_content_background_color{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #eaeaea;
        }
    </style>
</head>
<body class="this_body_background-color">
<!--header-->
<div class="row this_header"></div>
<!--navbar-->
<div class="row this_navbar"></div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    测试详情
                </h4>
            </div>
            <div class="modal-body">
                。。。。。。。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>






<!--面包屑导航-->
<div class="row">
    <ol class="breadcrumb">
        <li><span class="this_dangqianweizhi">当前位置:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;考试管理</li>
        <li class="active">习题列表</li>
    </ol>
</div>
<!--个人信息内容-->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 this_content_background_color">
        <table class="table table-hover ">
            <caption class="this_ziliaoxiazai">习题列表</caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>试卷名称</th>
                <th>题目数量</th>
                <th>试卷满分</th>
                <th>出题人</th>
                <th>出题时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>期中考前测评</td>
                <td>50</td>
                <td>100</td>
                <td>赵震</td>
                <td>2015.10.25</td>
                <td><a href="">详情</a>&nbsp;<a href="">删除</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>期中考前测评</td>
                <td>50</td>
                <td>100</td>
                <td>赵震</td>
                <td>2015.10.25</td>
                <td><a href="">详情</a>&nbsp;<a href="">删除</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td>期中考前测评</td>
                <td>50</td>
                <td>100</td>
                <td>赵震</td>
                <td>2015.10.25</td>
                <td><a href="" data-toggle="modal" data-target="#myModal">详情</a>&nbsp;<a href="">删除</a></td>
            </tr>
            </tbody>
        </table>
        <div class="text-right">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>










<div class="row this_footer"></div>
<!--引入 header navbar footer-->
<script src="js/footer.js"></script>
<script src="js/header.js"></script>
<script src="js/navbar.js"></script>
<!--引入公共css-->
<link rel="stylesheet" href="css/common.css">
<script src="./../ref/vue/vue.js"></script>









<!--引入其他js-->
</body>