<!--Author : en_zhao-->
<!--Date   : 2018/5/4-->
<!--Content: -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWUSTCNES</title>
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--jquery 和 boostarp 引入-->
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../ref/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap-theme.css">
    <!--小图标文件引入-->
    <link rel="stylesheet" href="../ref/iconfont/iconfont.css">
    <style>
        /*
         *phone
         */
        @media (max-width:992px){
            .space_phone{
                margin: 10px;
            }
        }
        /*
         * pc
         */
        @media (min-width:992px){
            .space_pc{
                margin: 10px;
            }
        }
        .this_body_background-color{
            background-color:#f6f6f6;
        }
        .this_content_background_color{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #eaeaea;
        }
        /*复选框样式*/
        .this_checkbox input[type='checkbox']{
            position: relative;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            opacity: 0;
        }
        .this_checkbox {
            position: relative;
            height: 30px;
            margin-top: 5px;
        }
        .this_checkbox label {
            position: relative;
            left: 30px;
            top: 0;
            height: 20px;
            line-height: 20px;
        }
        .this_checkbox label:before {
            content: '';
            position: absolute;
            left: -30px;
            top: 0;
            width: 20px;
            height: 20px;
            border: 1px solid #ddd;
            border-radius: 50%;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
        }

        .this_checkbox label:after {
            content: '';
            position: absolute;
            left: -22px;
            top: 3px;
            width: 6px;
            height: 12px;
            border: 0;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            background: #fff;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
        }

        .this_checkbox input[type='checkbox']:checked + label:before {
            background: #4cd764;
            border-color: #4cd764;
        }

        .this_checkbox input[type='checkbox']:checked + label:after {
            background: #4cd764;
        }
    </style>
</head>
<body class="this_body_background-color">
<!--header-->
<div class="row this_header"></div>
<!--navbar-->
<div class="row this_navbar"></div>







<!--面包屑导航-->
<div class="row">
    <ol class="breadcrumb">
        <li><span class="this_dangqianweizhi">当前位置:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;考试管理</li>
        <li class="active">创建考试</li>
    </ol>
</div>
<!--个人信息内容-->
<div class="row" id="tap">






    <!-- 模态框（Modal） -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="createModalLabel">
                        试卷信息
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="input-group">
                            <span class="input-group-btn"><button class="btn btn-default">试卷名称</button></span>
                            <input class="form-control" type="text" id="paper_name" v-model="PaperName" placeholder="请填入试卷名称">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-btn"><button class="btn btn-default">考试区间</button></span>
                            <input class="form-control" type="text" id="between_time" style="background-color: white" readonly placeholder="填写考试区间">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-btn"><button class="btn btn-default">考试时长</button></span>
                            <input class="form-control" type="number" id="length_time" v-model="LengthTime" placeholder="考试时长">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-info" data-dismiss="modal" v-on:click="create">创建
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>






    <!--去顶删除模态框-->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel">{{warning.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{warning.txt}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" v-on:click="del">确定删除</button>
                </div>
            </div>
        </div>
    </div>



    <!--修改模态框-->
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveModalLabel" style="font-weight: bold;">修改</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!--<div class="form-group">-->
                        <!--<label class="col-form-label">上传者:</label>{{info.UserName}}<br><br>-->
                        <!--<label class="col-form-label">上传时间:</label>{{info.Time|dateFormat}}-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="message-type" class="col-form-label">题目类型:</label>
                            <input class="form-control" id="message-type" v-model="info.TypeName">
                        </div>
                        <div class="form-group" v-if="info.TypeID==1">
                            <label for="message-scope" class="col-form-label">题目范围:</label>
                            <textarea style="height: 90px" class="form-control" id="message-scope" v-model="info.ScopeName"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-point" class="col-form-label">考点:</label>
                            <textarea class="form-control" id="message-point" v-model="info.PointName"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-level" class="col-form-label">难度:</label>
                            <textarea class="form-control" id="message-level" v-model="info.LevelName"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-num" class="col-form-label">数量:</label>
                            <textarea class="form-control" id="message-num" v-model="info.Num"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" v-on:click="save"> 确定修改</button>
                </div>
            </div>
        </div>
    </div>

    <!--_______________________________________-->




    <div class="col-lg-8 col-lg-offset-2 this_content_background_color">
        <div class="col-lg-10 col-lg-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
            <table class="table table-hover ">
                <caption class="this_ziliaoxiazai">试卷预览</caption>
                <thead>
                <tr>
                    <th>题目类型</th>
                    <th>范围</th>
                    <th>考点</th>
                    <th>难度</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in paperDataList" v-bind:class="'id-' + item.index">
                    <td>{{item.TypeName}}</td>
                    <td>{{item.ScopeName}}</td>
                    <td>{{item.PointName}}</td>
                    <td>{{item.LevelName}}</td>
                    <td>{{item.Num}}</td>
                    <td><a style="cursor: pointer" v-on:click="delModal(index)">删除</a>&nbsp
                        <a style="cursor: pointer" v-on:click="saveModal(index)">修改</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-10 text-right">
            <button class="btn btn-info"  v-on:click="createModal">创建</button>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 this_content_background_color">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="col-lg-12  input-group">
                    <span class="input-group-addon">范围选择</span>
                    <select class="form-control" name="fanwei" id="fanwei" v-model="fanweiID" style="width: 70%;display: inline">
                        <option value="1">第1章&nbsp;概述</option>
                        <option value="2">第2章&nbsp;物理层</option>
                        <option value="3">第3章&nbsp;数据链路层</option>
                        <option value="4">第4章&nbsp;网络层</option>
                        <option value="5">第5章&nbsp;运输层</option>
                        <option value="6">第6章&nbsp;应用层</option>
                        <option value="7">第7章&nbsp;网络安全</option>
                        <option value="8">第8章&nbsp;因特网上的音频/视频服务</option>
                        <option value="9">第9章&nbsp;无线网络和移动网络</option>
                        <option value="10">第10章&nbsp;下一代因特网</option>
                        <option value="11">CCNA</option>
                        <option value="12">CCNP</option>
                        <option value="13">HCNA</option>
                        <option value="14">HCNP</option>
                    </select>
                    <div class="this_checkbox" >
                        <span><input id="checkbox1" type="checkbox" checked><label for="checkbox1" ></label></span>
                    </div>
                </div>
                <br>
                <div class="col-lg-12  input-group">
                    <span class="input-group-addon">题型选择</span>
                    <select class="form-control" name="tixing" id="tixing" v-model="tixingID" style="width: 70%;display: inline">
                        <option value="1">选择题目</option>
                        <option value="2">判断题目</option>
                        <option value="3">问答题目</option>

                    </select>
                    <div class="this_checkbox" >
                        <span><input id="checkbox2" type="checkbox" checked><label for="checkbox2" ></label></span>
                    </div>
                </div>
                <br>
                <div class="col-lg-12  input-group">
                    <span class="input-group-addon">考点选择</span>
                    <select class="form-control" name="zhishidian" id="zhishidian" v-model="kaodianID" style="width: 70%;display: inline">
                        <option value="1">路由</option>
                        <option value="2">交换机</option>
                        <option value="3">IP分配</option>
                    </select>
                    <div class="this_checkbox" >
                        <span><input id="checkbox3" type="checkbox" checked><label for="checkbox3" ></label></span>
                    </div>
                </div>
                <br>
                <div class="col-lg-12  input-group">
                    <span class="input-group-addon">难度系数</span>
                    <select class="form-control" name="nanduxishu" id="nanduxishu" v-model="nanduID" style="width: 70%;display: inline">
                        <option value="1">高</option>
                        <option value="2">中</option>
                        <option value="3">低</option>
                    </select>
                    <div class="this_checkbox" >
                        <span><input id="checkbox4" type="checkbox" checked><label for="checkbox4" ></label></span>
                    </div>
                </div>
                <br>
                <div class="col-lg-12  input-group">
                    <div class="input-group">
                        题目数量：<input id="Num" data_step="1" data_min="1" data_max="10" data_digit="0" value="1"/><br><br>
                    </div>
                </div>
                <br>
                <div class="col-lg-12 text-right">
                    <button class="btn btn-info" v-on:click="addOne">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>










<div class="row this_footer"></div>
<!--引入 header navbar footer-->
<script src="js/footer.js"></script>
<script src="js/header.js"></script>
<script src="js/navbar.js"></script>
<!--引入公共css-->
<link rel="stylesheet" href="css/common.css">
<script src="./../ref/vue/vue.js"></script>
<script src="./../common/modal.js"></script>
<script src="./../common/tools.js"></script>
<script src="./common/nav.js"></script>
<script src="./../common/num-alignment.js"></script>
<script src="./../ref/laydate/laydate.js"></script>









<!--引入其他js-->
<script>

    laydate.render({
        elem: '#between_time'
        ,type: 'datetime'
        ,range: true
    });

    /**
     * 添加程序 修改程序 删除程序 创建程序
     */
    var vm = new Vue({
        el:"#tap",
        data:{
            paperDataList:[

            ],
            warning:{
                'title':"",
                'txt':""
            },
            info:{
                "TypeName":"test",
                "ScopeName":"tets",
                "PointName":"tets",
                "LevelName":"test",
                "Num":"test"
            },
            saveIndex:"",

            //参数设定
            fanweiID:1,
            tixingID:1,
            kaodianID:1,
            nanduID:1,
            timushuliang:1,

            //试卷名称
            PaperName:"",
            BetweenTime:"",
            LengthTime:60,



            //字典
            st:{
                "ScopeList":["第1章-概述","第2章-物理层","第3章&-数据链路层","第4章-网络层","第5章运输层","第6章-应用层","第7章网络安全",
                    "第8章-因特网上的音频/视频服务","第9章-无线网络和移动网络","第10章-下一代因特网","CCNA","CCNP","HCNA","HCNP"],
                "TypeList":["选择题目","判断题目","问答题目"],
                "PointList":["路由","交换机","IP分配"],
                "LevelList":["高","中","低"]
            }


        },
        filters:{

        },
        methods:{
            /**
             * 添加一个试卷条件
             */
            addOne(){

                this.paperDataList.push({"TypeName":vm.st.TypeList[vm.tixingID - 1],"TypeID":vm.tixingID,
                    "ScopeName":vm.st.ScopeList[vm.fanweiID - 1],"ScopeID":vm.fanweiID,
                    "PointName":vm.st.PointList[vm.kaodianID - 1],"PointID":vm.kaodianID,
                    "LevelName":vm.st.LevelList[vm.nanduID - 1],"LevelID":vm.nanduID,
                    "Num":$("#Num").val()});
            },
            /**
             * 创建试卷
             */
            createModal(){
                if(this.paperDataList.length === 0){
                    tools.warningC("提示","试卷信息不能为空！")
                }else{
                    $("#createModal").modal('show');
                }
            },
            create(){
                var d  = {'PaperInfo':this.paperDataList,'PaperName':vm.PaperName,"BetweenTime":$("#between_time").val(),"LengthTime":vm.LengthTime};
                tools.postJsonFetch('exam/exam/add?XDEBUG_SESSION_START=14658',d,function (data) {
                    if(data.res === true){
                        tools.warningC("提示",data.msg);
                    }else{
                        tools.warningC("提示",data.msg);
                    }
                });
            },

            /**
             * 修改数据
             */
            saveModal(index){
                $("#saveModal").modal('show');
                vm.info = vm.paperDataList[index];
                vm.saveIndex = index;
            },
            save(){
                vm.paperDataList[vm.saveIndex] = vm.info;
                $("#saveModal").modal('hide');
                tools.warningC("提示","修改成功");
            },

            /**
             * 删除
             * @param index
             */
            delModal(index){
                vm.info = vm.paperDataList[index];
                vm.warning.title = "提示";
                vm.warning.txt = "确定删除当前试题!";
                vm.saveIndex = index;
                $("#delModal").modal('show');
            },
            del(){
                $("#delModal").modal('hide');
                this.paperDataList.splice(this.saveIndex,1);
            },
            change(){
                console.log("xxx");
            }
        },
        watch:{

        }
    });
</script>
</body>