<!--Author : en_zhao-->
<!--Date   : 2018/5/4-->
<!--Content: -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWUSTCNES</title>
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--jquery 和 boostarp 引入-->
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../ref/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap-theme.css">
    <!--小图标文件引入-->
    <link rel="stylesheet" href="../ref/iconfont/iconfont.css">
    <style>
        /*
         *phone
         */
        @media (max-width:992px){
            .space_phone{
                margin: 10px;
            }
        }
        /*
         * pc
         */
        @media (min-width:992px){
            .space_pc{
                margin: 10px;
            }
        }
        .this_body_background-color{
            background-color:#f6f6f6;
        }
        .this_content_background_color{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #eaeaea;
        }
    </style>
</head>
<body class="this_body_background-color">
<!--header-->
<div class="row this_header"></div>
<!--navbar-->
<div class="row this_navbar"></div>






<!--面包屑导航-->
<div class="row">
    <ol class="breadcrumb">
        <li><span class="this_dangqianweizhi">当前位置:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;考试管理</li>
        <li class="active">习题列表</li>
    </ol>
</div>
<!--个人信息内容-->
<div class="row" id="xtlb">





    <!--去顶删除模态框-->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel">{{warning.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{warning.txt}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" v-on:click="del">确定删除</button>
                </div>
            </div>
        </div>
    </div>




    <!--修改模态框-->
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveModalLabel" style="font-weight: bold;">详情查看</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">出题人:</label>{{info.UserName}}<br><br>
                            <label class="col-form-label">出题时间:</label>{{info.CTime|dateFormat}}
                        </div>
                        <table class="table table-hover ">
                            <caption class="this_ziliaoxiazai">选择</caption>
                            <thead>
                            <tr>
                                <th>范围</th>
                                <th>难度</th>
                                <th>考点</th>
                                <th>数量</th>
                                <th>分值/题</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in info.CTInfo" v-bind:class="'id-' + item.NoticeID">
                                <td>{{item.ScopeName}}</td>
                                <td>{{item.LevelName}}</td>
                                <td>{{item.PointName}}</td>
                                <td>{{item.Num}}</td>
                                <td>{{item.ScorePer}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <!--________________________________-->

                        <table class="table table-hover ">
                            <caption class="this_ziliaoxiazai">判断</caption>
                            <thead>
                            <tr>
                                <th>范围</th>
                                <th>难度</th>
                                <th>考点</th>
                                <th>数量</th>
                                <th>分值/题</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in info.JTInfo" v-bind:class="'id-' + item.NoticeID">
                                <td>{{item.ScopeName}}</td>
                                <td>{{item.LevelName}}</td>
                                <td>{{item.PointName}}</td>
                                <td>{{item.Num}}</td>
                                <td>{{item.ScorePer}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <!--____________________________________-->

                        <table class="table table-hover ">
                            <caption class="this_ziliaoxiazai">简答</caption>
                            <thead>
                            <tr>
                                <th>范围</th>
                                <th>难度</th>
                                <th>考点</th>
                                <th>数量</th>
                                <th>分值/题</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in info.QTInfo" v-bind:class="'id-' + item.NoticeID">
                                <td>{{item.ScopeName}}</td>
                                <td>{{item.LevelName}}</td>
                                <td>{{item.PointName}}</td>
                                <td>{{item.Num}}</td>
                                <td>{{item.ScorePer}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <!--<button type="button" class="btn btn-primary" v-on:click="detail"> 确定修改</button>-->
                </div>
            </div>
        </div>
    </div>















    <!--_________________________________________________-->
    <div class="col-lg-8 col-lg-offset-2 this_content_background_color">
        <table class="table table-hover ">
            <caption class="this_ziliaoxiazai">习题列表</caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>测试名称</th>
                <th>试卷满分</th>
                <th>出题人</th>
                <th>出题时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in dataList" v-bind:class="'id-' + item.NoticeID">
                <td>{{index+1}}</td>
                <td>{{item.PName}}</td>
                <td>{{item.TotalScore}}</td>
                <td>{{item.UserName}}</td>
                <td>{{item.CTime|dateFormat}}</td>
                <td><a style="cursor: pointer" v-on:click="delModal(index)">删除</a>&nbsp
                    <a style="cursor: pointer" v-on:click="detailModel(index)">详情</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="">
            <ul class="pager">
                <li v-bind:class="prePageClass"><a class="btn" v-on:click="prePage">上一页</a></li>
                <li v-bind:class="PNO1"><a v-bind:class="'btn' + ' ' + checked1" v-on:click="btnClick(text1)">{{text1}}</a></li>
                <li v-bind:class="PNO2"><a v-bind:class="'btn' + ' ' + checked2" v-on:click="btnClick(text2)">{{text2}}</a></li>
                <li v-bind:class="PNO3"><a v-bind:class="'btn' + ' ' + checked3" v-on:click="btnClick(text3)">{{text3}}</a></li>
                <li v-bind:class="PNO4"><a v-bind:class="'btn' + ' ' + checked4" v-on:click="btnClick(text4)">{{text4}}</a></li>
                <li v-bind:class="PNO5"><a v-bind:class="'btn' + ' ' + checked5" v-on:click="btnClick(text5)">{{text5}}</a></li>
                <li v-bind:class="nextPageClass"><a class="btn" v-on:click="nextPage">下一页</a></li>
                <li class="">跳转</li>
                <li class=""><input class="" style="border-radius: 5px;width: 50px" v-model="TPage" type="text">页</li>
                <li class=""><button style="border-radius: 2px" v-on:click="tiaozhuan">确定</button></li>
            </ul>
        </div>
    </div>
</div>










<div class="row this_footer"></div>
<!--引入 header navbar footer-->
<script src="js/footer.js"></script>
<script src="js/header.js"></script>
<script src="js/navbar.js"></script>
<!--引入公共css-->
<link rel="stylesheet" href="css/common.css">
<script src="./../ref/vue/vue.js"></script>
<script src="./../common/modal.js"></script>
<script src="./../common/tools.js"></script>
<script src="./../common/moment.js"></script>
<script src="./common/nav.js"></script>









<!--引入其他js-->
<script>
    var vm = new Vue({

        el:'#xtlb',
        data:{
            //modal
            info:{
                CTIfo:{},
                JTInfo:{},
                QTInfo:{}
            },

            warning:{
                "title":"",
                "txt":""
            },

            //数据 需要组合
            'dataList':{},

            'Page':1, //当前页码
            'TPage':1,//跳转页码
            'MPage':1,//最大页数


            //文本
            'text1':1,
            'text2':2,
            'text3':3,
            'text4':4,
            'text5':5,

            //样式 是否可选
            'prePageClass':'', //上一页class
            'nextPageClass':'',//下一页class
            'PNO1':'',//下一页class
            'PNO2':'',//下一页class
            'PNO3':'',//下一页class
            'PNO4':'',//下一页class
            'PNO5':'',//下一页class

            //每一页几条
            'N':10,

            //设置选中样式
            'checked1':'',
            'checked2':'',
            'checked3':'',
            'checked4':'',
            'checked5':''
        },
        filters:{
            dateFormat(time){
                return moment(moment.unix(time)).format("YYYY-MM-DD hh:mm");
            }
        },
        methods:{

            delModal(index){
                vm.info = vm.dataList[index];
                vm.warning.title = "提示";
                vm.warning.txt = "确定 ‘ "+vm.info.PName+" ’试题!";
                $("#delModal").modal('show');
            },

            del(){
                $("#delModal").modal('hide');
                var d = {'PIID':vm.info.PIID};
                tools.postJsonFetch('exam/test/del?XDEBUG_SESSION_START=14658',d,function (data) {
                    if(data.res === true){
                        window.location.href = "./exam_before_test_paper_list.html";
                        tools.warningC("提示",data.msg);
                    }else{
                        tools.warningC("提示",data.msg);
                    }
                });

            },

            detailModel(index){
                vm.info = vm.dataList[index];
                $("#saveModal").modal('show');
            },
            detail(){
                $("#saveModal").modal('hide');
                var d = {'Content':vm.info.Content,'Options':vm.info.Options , 'CKAnswer':vm.info.CKAnswer,'JXAnswer':vm.info.JXAnswer,'TitleID':vm.info.TitleID,'TypeID':vm.info.TypeID};
                tools.postJsonFetch('exam/test/save?XDEBUG_SESSION_START=14658',d,function (data) {
                    if(data.res === true){
                        tools.warningC("提示",data.msg);
                    }else{
                        tools.warningC("提示",data.msg);
                    }
                });
            },
            /**
             * 获取数据库第一页数据
             */
            get(KeyWord,W, P,N){
                var d = {"KeyWord":KeyWord,"W":{"ID":1},"P":P,"N":N};
                tools.postJsonFetch('exam/test/get?XDEBUG_SESSION_START=14658',d,function (data) {
                    if(data.res === true){
                        vm.dataList = data.msg.L;
                        vm.Page = data.msg.P;
                        vm.MPage = Math.ceil(data.msg.T/data.msg.N);
                        vm.clear();
                        vm.setPageBtn();
                    }else{
                        tools.warningC("提示",data.msg);
                    }
                });
            },
            /**
             * 跳转
             */
            tiaozhuan(){
                if(vm.TPage > vm.MPage){
                    tools.warningC("提示","当前题目列表最大为"+vm.MPage+"页");
                }else{
                    var d = "P="+vm.TPage+"&N="+vm.N+"&W="+[]+"&KeyWord="+[];
                    tools.postFetch('exam/test/get?XDEBUG_SESSION_START=14658',d,function (data) {
                        if(data.res === true){
                            vm.dataList = data.msg.L;
                            vm.Page = vm.TPage;
                            vm.MPage = Math.ceil(data.msg.T/data.msg.N);
                            vm.clear();
                            vm.setPageBtn();
                        }else{
                            tools.warningC("提示",data.msg);
                        }
                    });
                }
            },
            /**
             *下一页
             */
            nextPage(){
                if((vm.Page + 1) <= vm.MPage ){
                    var d = "P="+(vm.Page +1)+"&N="+vm.N+"&W="+[]+"&KeyWord="+[];
                    tools.postFetch('exam/test/get?XDEBUG_SESSION_START=14658',d,function (data) {
                        if(data.res === true){
                            vm.dataList = data.msg.L;
                            vm.Page = vm.Page +1;
                            vm.MPage = Math.ceil(data.msg.T/data.msg.N);
                            vm.clear();
                            vm.setPageBtn();
                        }else{
                            tools.warningC("提示",data.msg);
                        }
                    });
                }
            },
            /**
             * 上一页
             */
            prePage(){
                if((vm.Page - 1) > 0){
                    var d = "P="+(vm.Page - 1)+"&N="+vm.N+"&W="+[]+"&KeyWord="+[];
                    tools.postFetch('exam/test/get?XDEBUG_SESSION_START=14658',d,function (data) {
                        if(data.res === true){
                            vm.dataList = data.msg.L;
                            vm.Page = vm.Page - 1;
                            vm.MPage = Math.ceil(data.msg.T/data.msg.N);
                            vm.clear();
                            vm.setPageBtn();
                        }else{
                            tools.warningC("提示",data.msg);
                        }
                    });
                }

            },
            /**
             *点击按钮
             */
            btnClick(page){
                if(vm.Page !== page){
                    var d = "P="+page+"&N="+vm.N+"&W="+[]+"&KeyWord="+[];
                    tools.postFetch('exam/test/get?XDEBUG_SESSION_START=14658',d,function (data) {
                        if(data.res === true){
                            vm.dataList = data.msg.L;
                            vm.Page = page;
                            vm.MPage = Math.ceil(data.msg.T/data.msg.N);
                            vm.clear();
                            vm.setPageBtn();
                        }else{
                            tools.warningC("提示",data.msg);
                        }
                    });
                }

            },

            /**
             * 对分页按钮进行调整
             */
            setPageBtn(){
                //Mpage 调整样式
                if(vm.MPage <= 5){
                    if(vm.MPage <= 4){
                        vm.setHidden(5);
                    }
                    if(vm.MPage <= 3){
                        vm.setHidden(4);
                    }
                    if(vm.MPage <= 2){
                        vm.setHidden(3);
                    }
                    if(vm.MPage <= 1){
                        vm.setHidden(2);
                    }
                    vm.text1 = 1;
                    vm.text2 = 2;
                    vm.text3 = 3;
                    vm.text4 = 4;
                    vm.text5 = 5;

                    vm.setCheck(vm.Page);
                    vm.setDisabled(vm.Page);
                    if(vm.Page === 1){
                        vm.setDisabled(-2);
                    }

                    if(vm.Page >= vm.MPage){
                        vm.setDisabled(-1);
                    }
                }else if(vm.MPage > 5){
                    if(vm.Page <= 3){ //1 2 3 ... MPage
                        vm.text1 = 1;
                        vm.text2 = 2;
                        vm.text3 = 3;
                        vm.text4 = '...';
                        vm.text5 = vm.MPage;

                        vm.setDisabled(vm.Page);
                        vm.setCheck(vm.Page);
                        vm.setDisabled(4);
                        if(vm.Page === 1){
                            vm.setDisabled(-2);
                        }
                    }else if(vm.Page >= (vm.MPage - 2)){ // 1 ... MPage-2 MPage-1 MPage
                        vm.text1 = 1;
                        vm.text2 = '...';
                        vm.text3 = vm.MPage-2;
                        vm.text4 = vm.MPage-1;
                        vm.text5 = vm.MPage;

                        vm.setDisabled(5 - (vm.MPage - vm.Page));
                        vm.setCheck(5 - (vm.MPage - vm.Page));
                        vm.setDisabled(2);
                        if(vm.Page === vm.MPage){
                            vm.setDisabled(-1);
                        }
                    }else{ // 1 ... Page ... MPage
                        vm.text1 = 1;
                        vm.text2 = '...';
                        vm.text3 = vm.Page;
                        vm.text4 = '...';
                        vm.text5 = vm.MPage;

                        vm.setDisabled(2);
                        vm.setDisabled(3);
                        vm.setCheck(3);
                        vm.setDisabled(4);
                    }
                }
            },
            /**
             * hidden
             */
            setHidden(id){
                switch (id){
                    case 1:
                        vm.PNO1 = 'hidden';
                        break;
                    case 2:
                        vm.PNO2 = 'hidden';
                        break;
                    case 3:
                        vm.PNO3 = 'hidden';
                        break;
                    case 4:
                        vm.PNO4 = 'hidden';
                        break;
                    case 5:
                        vm.PNO5 = 'hidden';
                        break;
                    case -1:
                        vm.nextPageClass = 'hidden';
                        break;
                    case -2:
                        vm.prePageClass = 'hidden';
                        break;
                }
            },
            /**
             * hidden
             */
            setDisabled(id){
                switch (id){
                    case 1:
                        vm.PNO1 = 'disabled';
                        break;
                    case 2:
                        vm.PNO2 = 'disabled';
                        break;
                    case 3:
                        vm.PNO3 = 'disabled';
                        break;
                    case 4:
                        vm.PNO4 = 'disabled';
                        break;
                    case 5:
                        vm.PNO5 = 'disabled';
                        break;
                    case -1:
                        vm.nextPageClass = 'disabled';
                        break;
                    case -2:
                        vm.prePageClass = 'disabled';
                        break;
                }
            },
            /**
             *
             */
            setChecked(){
                switch (id){
                    case 1:
                        vm.PNO1 = 'disabled';
                        break;
                    case 2:
                        vm.PNO2 = 'disabled';
                        break;
                    case 3:
                        vm.PNO3 = 'disabled';
                        break;
                    case 4:
                        vm.PNO4 = 'disabled';
                        break;
                    case 5:
                        vm.PNO5 = 'disabled';
                        break;
                    case -1:
                        vm.nextPageClass = 'disabled';
                        break;
                    case -2:
                        vm.prePageClass = 'disabled';
                        break;
                }
            },
            clear(){
                vm.prePageClass = '';
                vm.nextPageClass = '';
                vm.PNO1 = '';
                vm.PNO2 = '';
                vm.PNO3 = '';
                vm.PNO4 = '';
                vm.PNO5= '';
                vm.checked1 = '';
                vm.checked2 = '';
                vm.checked3 = '';
                vm.checked4 = '';
                vm.checked5 = '';
            },
            setCheck(id){
                switch (id){
                    case 1:
                        vm.checked1 = 'active';
                        break;
                    case 2:
                        vm.checked2 = 'active';
                        break;
                    case 3:
                        vm.checked3 = 'active';
                        break;
                    case 4:
                        vm.checked4 = 'active';
                        break;
                    case 5:
                        vm.checked5 = 'active';
                        break;
                }
            }
        }

    });
    vm.get([],[],1,vm.N);
</script>
</body>