<!--Author : en_zhao-->
<!--Date   : 2018/4/26-->
<!--Content: -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWUSTCNES</title>
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--jquery 和 boostarp 引入-->
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../ref/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap-theme.css">
    <!--小图标文件引入-->
    <link rel="stylesheet" href="../ref/iconfont/iconfont.css">
    <style>
        /*
         *phone
         */
        @media (max-width:992px){
            .space_phone{
                margin: 10px;
            }
        }
        /*
         * pc
         */
        @media (min-width:992px){
            .space_pc{
                margin: 10px;
            }
        }
        .this_body_background-color{
            background-color:#f6f6f6;
        }
        .this_content_background_color{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #eaeaea;
        }
    </style>
</head>
<body class="this_body_background-color">
<!--header-->
<div class="row this_header"></div>
<!--navbar-->
<div class="row this_navbar"></div>








<!--面包屑导航-->
<div class="row">
    <ol class="breadcrumb">
        <li><span class="this_dangqianweizhi">当前位置:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;考试模块</li>
        <li class="">习题练习</li>
        <li class="">练习记录</li>
    </ol>
</div>
<!--个人信息内容-->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 this_content_background_color">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover text-center">
                    <!--<caption>基本的表格布局</caption>-->
                    <thead>
                    <tr>
                        <th class="col-2 text-center">ID</th>
                        <th class="col-4 text-center">练习时间</th>
                        <th class="col-3 text-center">题目数</th>
                        <th class="col-3 text-center">正解数</th>
                        <th class="col-3 text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>2018-5-8 19:52</td>
                        <td>50</td>
                        <td>30</td>
                        <td><a href="#">详情</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>2018-5-8 15:36</td>
                        <td>50</td>
                        <td>45</td>
                        <td><a href="#">详情</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>2017-5-9 15:44</td>
                        <td>50</td>
                        <td>38</td>
                        <td><a href="#">详情</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>2017-5-10 22:10</td>
                        <td>50</td>
                        <td>30</td>
                        <td><a href="#">详情</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>2017-5-11 13:02</td>
                        <td>50</td>
                        <td>45</td>
                        <td><a href="#">详情</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12 text-right">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>










<div class="row this_footer"></div>
<!--引入 header navbar footer-->
<script src="js/footer.js"></script>
<script src="js/header.js"></script>
<script src="js/navbar.js"></script>
<!--引入公共css-->
<link rel="stylesheet" href="css/common.css">
<script src="./../ref/vue/vue.js"></script>









<!--引入其他js-->
</body>