<!--Author : en_zhao-->
<!--Date   : 2018/4/22-->
<!--Content: 模板复制-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWUSTCNES</title>
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--jquery 和 boostarp 引入-->
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="./common/permission.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../ref/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap-theme.css">
    <!--小图标文件引入-->
    <link rel="stylesheet" href="../ref/iconfont/iconfont.css">
    <style>
        /*
         *PC
         */
        @media (max-width:992px){

        }
        /*
         * phone
         */
        @media (min-width:992px){

        }
    </style>
</head>
<body>
<!--header-->
<div class="row this_header"></div>
<!--navbar-->
<div class="row this_navbar"></div>










<!--面包屑导航-->
<div class="row">
    <ol class="breadcrumb">
        <li><span class="this_dangqianweizhi">当前位置:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首页信息</li>
    </ol>
</div>
<!--个人信息内容-->
<div class="row">
    ——————————————————这里主要展示一些首页信息———————————————————————
</div>










<div class="row this_footer"></div>
<!--引入 header navbar footer-->
<script src="js/footer.js"></script>
<script src="js/header.js"></script>
<script src="js/navbar.js"></script>
<!--引入公共css-->
<link rel="stylesheet" href="css/common.css">
<script src="./../ref/vue/vue.js"></script>
<script src="./../common/tools.js"></script>
<script src="./common/nav.js"></script>
<script src="./../common/modal.js"></script>









<!--引入其他js-->
</body>