<!--Author : en_zhao-->
<!--Date   : 2018/4/22-->
<!--Content: 修改密码-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWUSTCNES</title>
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--jquery 和 boostarp 引入-->
    <script type="text/javascript" src="../ref/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="./common/permission.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../ref/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../ref/bootstrap-3.3.7/css/bootstrap-theme.css">
    <!--小图标文件引入-->
    <link rel="stylesheet" href="../ref/iconfont/iconfont.css">
    <style>
        /*
         *phone
         */
        @media (max-width:992px){
            .space_phone{
                margin: 50px;
            }
        }
        /*
         * pc
         */
        @media (min-width:992px){
            .space_pc{
                margin: 50px;
            }
        }
        .this_body_background-color{
            background-color:#f6f6f6;
        }
        .this_content_background_color{
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid #eaeaea;
        }
    </style>
</head>
<body class="this_body_background-color">
<!--header-->
<div class="row this_header"></div>
<!--navbar-->
<div class="row this_navbar"></div>










<!--面包屑导航-->
<div class="row">
    <ol class="breadcrumb">
        <li><span class="this_dangqianweizhi">当前位置:</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人信息</li>
        <li class="active">修改密码</li>
    </ol>
</div>
<!--个人信息内容-->
<div class="row" id="msp">
    <div class="col-lg-8 col-lg-offset-2 this_content_background_color">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12 text-left">
                <h2 style="font-family: Arial">方式一：</h2>
            </div>
            <br><br><br>
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="col-lg-12  input-group">
                    <span class="input-group-addon">当前密码</span>
                    <input type="password" v-model="oldPWD" class="form-control" placeholder="当前密码">
                </div>
            </div>
            <br><br><br>
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="col-lg-12  input-group">
                    <span class="input-group-addon">更新密码</span>
                    <input type="password" v-model="PWD" class="form-control" placeholder="新密码">
                </div>
            </div>
            <br><br><br>
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="col-lg-12  input-group">
                    <span class="input-group-addon">确认密码</span>
                    <input type="password" v-model="PWD2" class="form-control" placeholder="确认新密码">
                </div>
            </div>
            <br><br><br>
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12 text-right">
                <button class="btn btn-info" v-on:click="submit"> 提交更改</button>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-right">
                <hr>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12 text-left">
                <h2 style="font-family: Arial">方式二：</h2>
            </div>
            <br><br><br><br>
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12 text-right">
                <span>我们会发送修改链接到您的邮箱,点击&nbsp&nbsp&nbsp</span>
                <button class="btn btn-info" v-on:click="sendEmail"> 发送邮件</button>
            </div>
        </div>
    </div>
    <div class="space_pc space_phone"></div>
</div>










<div class="row this_footer"></div>
<!--引入 header navbar footer-->
<script src="js/footer.js"></script>
<script src="js/header.js"></script>
<script src="js/navbar.js"></script>
<!--引入公共css-->
<link rel="stylesheet" href="css/common.css">
<script src="./../ref/vue/vue.js"></script>
<script src="./../common/modal.js"></script>
<script src="./../common/tools.js"></script>
<script src="./common/nav.js"></script>









<!--引入其他js-->
<script>
    var vm = new Vue({
        el:'#msp',
        data:{
            'oldPWD':'',
            'PWD':'',
            'PWD2':''
        },
        methods:{
            sendEmail(){
                tools.postFetch('admin/Pwd/findPWD2?XDEBUG_SESSION_START=14658','',function (data) {
                    if(data.res === true){
                        tools.warningC("提示",data.msg);
                    }else{
                        tools.warningC("提示",data.msg);
                    }
                })
            },

            submit(){
                if(vm.PWD !== vm.PWD2){
                    tools.warningC("提示",'两次密码不一致');
                }else if(vm.PWD === vm.oldPWD){
                    tools.warningC("提示",'新旧密码不能一致')
                }else{
                    tools.postFetch('admin/Pwd/resetPWD2?XDEBUG_SESSION_START=14658','OldPWD='+vm.oldPWD+'&NewPWD='+vm.PWD,function (data) {
                        if(data.res === true){
                            tools.warningC("提示",data.msg);
                        }else{
                            tools.warningC("提示",data.msg);
                        }
                    })
                }
            }
        }
    });
</script>
</body>